[submodule "MEIntegratorStandalone"]
	path = MEIntegratorStandalone
	url = https://gitlab.cern.ch/jpata/MEIntegratorStandalone.git
[submodule "CommonClassifier"]
	path = CommonClassifier
	url = https://gitlab.cern.ch/jpata/CommonClassifier.git
